@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');



* {
  background-color: #0B1323;
  color: silver;
  caret-color: transparent;
}

.logo {
  font-size:2.5em;
  color:#00C6BD;
  outline:none;
  background:none;
  border:2px solid #00C6BD;
  border-radius: 50%;
  width:75px;
  height:75px;
  margin-left:2em;
  transition:all .5s;
}

.logo:hover {
  transform:scale(1.1);
  transition:all .5s;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  cursor: pointer;
}

.main-container {
  display:flex;
  margin-left:5%;
}

.nav-list li {
  font-size: .9em;
  font-family: 'Fira Code', monospace;
  margin-right: 1em;
  list-style-type: none;
  transition: 0s color;
}

.nav-list li:hover {
  color: #00C6BD;
  cursor: pointer;
  transition-delay: .25s;
}

.feature-list li {
  width: 80%;
  font-family: 'Fira Code', monospace;
  font-size: .9em;
  font-weight: normal;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;

}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: var(--width);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00C6BD;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.partial-border {
  position: relative;
  top:-5%;
  background: none;
  border: none;
  text-align: left;
  
}

.partial-border::before,
.partial-border::after {
  position: absolute;
  width: 2em;
  height: 2em;
  content: "";
  border-top-left-radius:7px;
  
}

.partial-border::before {
  left: 0;
  top: 0;
  border-left: 3px solid #00C6BD;
  border-top: 3px solid #00C6BD;
  
 }

 

 .project-list-item {
  margin-bottom:1em;
  padding: .1em;
  text-align: left;
  transition: .2s all;
 }

 .project-list-item:hover {
  letter-spacing:.02rem;
  color:#00C6BD;
  cursor: pointer;
  transition: all .2s;
 }

 .project-card {
  position:absolute;
  margin-left:5em;
  margin-top:5%;
  padding-left:1em;
 }

 .project-button {
  outline:none;
  border:none;
  font-size:1em;
  margin-right:.5em;
  margin-top:2em;
  margin-left:2em;
 }

 .left-border {
  border-left:2px solid #00C6BD;
  padding-left:1em;
 }

 .contact-button {
  margin-top: 25px;
  width: 7em;
  border-radius: 5px;
  border: 1px solid #00C6BD;
  height:3em;
 }

 .footer {
  position:absolute;
  bottom:5%;
  right:5%;
 }

