@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');



* {
  background-color: #0B1323;
  color: silver;
  caret-color: transparent;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 355px;
  margin-top: 10px;
}

.nav-logo {
  color: #00C6BD;
  font-weight: bold;
  display: none;
}

.projects-menu {
  display: none !important;
}

.projects-top-menu {
  display: none !important;
}

@media(max-width:968px) {
  .logo {
    display: none;
  }

  .footer {
    display: none;
  }

  .projects-top-menu {
    display: inline-block !important;
  }

  .nav-logo {
    display: inline-block !important;
  }

  .projects-menu {
    display: block !important;
  }

  .project-container {
    display: none !important;
  }

  .project-card {
    margin-right: 15%;
  }

  .contact-card {
    transform: scale(85%) !important;
  }

  .header {
    font-size: 2em !important;
  }

  .nav-list {
    display: flex !important;
    justify-content: center !important;
    padding: 0% !important;
    white-space: nowrap !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  .footer {
    bottom: 5% !important;
  }


}

.main-container {
  background: none;
  display: flex;
  margin-top: 5%;
}

.contact-card {
  box-sizing: border-box;
  background: none;
  transform-origin: left;
  transition: all .3s;
  width: 50%;
}

.contact-container {
  border: 1px solid #00C6BD;
  border-radius: 7px;
  width: 400px;
  margin-left:25%;
  padding:1em;
  padding-top:0em;
}

.edit-styles {
  border: none;
  outline: none;
  border-bottom: 1px solid #00C6BD;
  caret-color: white;
  width: 395px;
}


.project-container {

  display: flex;
  background: transparent;
  flex-direction: column;
  z-index: 2;
  margin-left:15%;
}



.logo {
  font-size: 2em;
  font-weight: bold;
  border: none;
  color: #00C6BD;
  outline: none;
  background: none;
  width: fit-content;
  height: fit-content;
  margin-left: 2em;
  transition: all .5s;
}

.logo:hover {
  transform: scale(1.1);
  transition: all .5s;
}

body,
button,
input {
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  cursor: pointer;
}



.nav-list li {
  font-size: .9em;
  font-family: 'Fira Code', monospace;
  margin-right: 1em;
  list-style-type: none;
  transition: 0s color;
}

.nav-list li:hover {
  color: #00C6BD;
  cursor: pointer;
  transition-delay: .25s;
}

.feature-list li {
  width: 80%;
  font-family: 'Fira Code', monospace;
  font-size: .9em;
  font-weight: normal;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;

}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: var(--width);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00C6BD;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.partial-border {
  position: relative;
  top: -5%;
  background: none;
  border: none;
  text-align: left;

}

.partial-border::before,
.partial-border::after {
  position: absolute;
  width: 2em;
  height: 2em;
  content: "";
  border-top-left-radius: 7px;

}

.partial-border::before {
  left: 0;
  top: 0;
  border-left: 3px solid #00C6BD;
  border-top: 3px solid #00C6BD;

}



.project-list-item {
  margin-bottom: 1em;
  padding: .1em;
  text-align: left;
  transition: .2s all;
  background: none;
}

.project-list-item:hover {
  letter-spacing: .02rem;
  color: #00C6BD;
  cursor: pointer;
  transition: all .2s;
}

.project-card {
  background: none;
  position:absolute;
  margin-left: 15%;
  padding-left: 1em;
}

.project-button {
  outline: none;
  border: 1px solid #00C6BD;
  border-radius: 7px;
  font-size: 1em;
  padding: .5em;
}

.left-border {
  border-left: 2px solid #00C6BD;
  padding-left: 1em;
}

.contact-button {
  margin-top: 25px;
  width: 7em;
  border-radius: 5px;
  border: 1px solid #00C6BD;
  height: 3em;
}

.footer {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: .8em;
}

.project-summary {
  max-width: 400px;
  width: fit-content;
  line-height: 1.6;
  background: none;
}