body {
  font-family: Helvetica, sans-serif;
}

button {
  border: none;
  margin: .5em;
  text-align: center;
  font-size: 1em;
  padding: .5em;
  transition: background-color .5s ease;
}

button:hover {
  cursor: pointer;
  border-color: #00C6BD;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: white;
  background-color:rgba(0, 198, 189, .2)
}

fieldset {
  border-radius: 5px;
}